[Unit]
Description=Suspender Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
ExecStart=/usr/local/bin/sspender /usr/local/bin/sspender.cfg
[Install]
WantedBy=multi-user.target
